[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-django = "*"
jsonschema = "*"

[packages]
django = ">=2.2<2.3"
djangorestframework = '*'
gunicorn = "*"

[requires]
python_version = "3.7"
